<?php // if (isset($busca) && !empty($busca)) { ?>
 							<!-- <table>
 								<thead>

 									<tr>
 										<th>cod_cliente</th>
 										<th>cliente_nome</th>
 										<th>cliente_email</th>
 										<th>cliente_endereco</th>
 									</tr>
 								</thead>
 								<tbody>
 									<? /*php foreach ($busca as $item) { ?>
 										<tr>
 											<td><?php $item->cod_cliente ?></td>
 											<td><?php $item->cliente_nome ?></td>
 											<td><?php $item->cliente_email ?></td>
 											<td><?php $item->cliente_endereco ?></td>
 										</tr>
 									<?php } ?>
 								<?php } */ ?>
 								</tbody>
 							</table> -->